html {
	width: 100%;
	height: 100%;
	display: table;
}

body {
	width: 100%;
	display: table-cell;
	background-color: #171513;
	color: #acabab;
}

html, body, p {
	margin: 0;
	padding: 0;
}

.title {
	font-family: "Noto Sans", Sans-Serif;
	font-size: 30px;
	padding: 0.5rem 1rem;
}

.bar-item {
	font-family: "Roboto", Sans-Serif;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
}

#chessground {
	width: 500px;
	height: 500px;
}
