html {
	width: 100%;
	height: 100%;
	display: table;
}

body {
	width: 100%;
	display: table-cell;
	background-color: #171513;
	color: #acabab;
	font-family: "Roboto", Sans-Serif;
}

html, body, p {
	margin: 0;
	padding: 0;
}

#nav-bar {
	width: 100%;
	font-family: "Noto Sans", Sans-Serif;
}

.title {
	font-size: 2rem;
	padding: 0.5rem 1rem 1rem;
	display: inline-block;
}

.account {
	float:right;
	padding : 1rem 1rem 1rem;
	display: inline-block;
}

.account:hover {
	color: #cacaca;
}

.account-options, #account-name {
	display: inline-block;
	cursor: pointer;
}

#account-name {
	font-size:1.1rem;
}

.account-options {
	font-size:1.3rem;
	background: none;
	color: #949494;
	border: none;
	padding: 0;
	margin-left: 5px;
}

#app {
	margin: auto;
	width: 50%;
}


.tab-item {
	font-size:1rem;
	background: none;
	color: #949494;
	border: none;
	padding: 0;
	cursor: pointer;
	width: 30%;
	text-align: center;
}

.tab-item:hover {
	color: #bababa;
	border-bottom:2px solid #d64f00;
}

.tab-item-select, .tab-item-select:hover  {
	color: #d64f00;
	border-bottom:2px solid #d64f00;
}

.navbar, #quickpairing {
	text-align: center;
}

.quick-button {
	width: 30%;
	min-height: 150px;
	padding:0;
	margin: 8px 4px 4px 4px;
	cursor: pointer;
	text-align:center;
	vertical-align:middle;
	border: none;
	border-radius: 5px;
	background-color: rgba(52, 49, 45, 0.66);
	color: #acabab;
}

.clock {
	font-size: 2rem;
}

.perf {
	font-size: 1.2rem;
}

.quick-button:hover {
	background-color: rgba(214, 79, 0, 0.66);
}
